
<div class="container">

<a href="#/search">Rechercher un employé</a>

<table class="table table-bordered" >
	<caption>Liste des employés</caption>
	<thead>
	<tr>
		<th>Id n°</th>
		<th>Nom</th>
		<th>Prenom</th>
		<th>Adresse</th>
		<th  colspan="2">Action</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat = "employe in homectrl.employes">
		<td>{{employe.id}}</td>
		<td>{{employe.nom}}</td>
		<td>{{employe.prenom}}</td>
		<td>{{employe.adresse.numero}} {{employe.adresse.rue}} {{employe.adresse.ville}}</td>
		<td><button  ng-click="homectrl.delete(employe)">supprimer</button></td>
		<td><button  ng-click="homectrl.update(employe)">modifier</button></td>
	</tr>
	</tbody>

</table>


</div>