
<div class="container">

<h3>Recherché un employé : </h3> 
<form ng-submit="searchctrl.get(BankonetForm)" name="BankonetForm" novalidate>
<label>Id : </label><input type="text"  ng-model="searchctrl.employe.id" name="id">
<button type = "submit">rechercher</button>
</form>

<h2>Employé n° {{searchctrl.employe.id}} </h2>

<ul class="list-group">
	<li class="list-group-item">Nom : {{searchctrl.employe.nom}}</li>
	<li class="list-group-item">Prénom : {{searchctrl.employe.prenom}}</li>
	<li class="list-group-item">Adresse : {{searchctrl.employe.adresse.numero}} {{searchctrl.employe.adresse.rue}} {{searchctrl.employe.adresse.ville}}</li>
</ul>

</div>